
<div id="cover_photo" class="row">

  <div class="col-12">
    <img class="mt-4 rounded-circle mx-auto d-block" src="https://robohash.org/set4">
  </div>

</div>


<div id="bio_box " class="h-100">
  <div class="row">
    <div class="col-4 "></div>
    <div class="col-4" id="show_form">
      <br />
      <h2>First Name:</h2>
      <hr />
      <h3><%= current_user.first_name %></h3>
      <hr />
      <h2>Last Name:</h2>
      <hr />
      <h3><%= current_user.last_name %></h3>
      <hr />
      <h2>Email:</h2>
      <hr />
      <h3><%= current_user.email %></h3>
      <h4><%= link_to 'Edit User Info', edit_user_registration_path %> </h4>
    </div>
    <div class="col-4"></div>
  </div>
</div>
