<div id="cover_photo" class="row h-15-px">
  #cover photo div
  ##profile pic div centered
  #/cover photo div
</div>

<div id="bio_box" class="row h-100">
  <div id="show_form">
    <%= @user.first_name %>
    <%= @user.last_name %>
    <%= @user.email %>
    #edit button
  </div>
</div>