@import 'semantic-ui';

.background-color {
  background-color: #01B3A9;
}

.white {
  background-color: rgba(255,255,255, 0.95);
  border-radius: 0.5%;
  height: 100%;
}

.shorten {
  max-width: 50%;
}
