<div class="ui menu">
  <%= link_to 'News Feed', posts_path, class: 'item' %>
  <%= link_to 'Profile', bios_path, class: 'item' %>
  <div class="right menu">
    <div class="ui menu">
      <div class="ui category search item">
        <div class="ui transparent icon input">
          <input class="prompt" type="text" placeholder="Search...">
          <i class="search link icon"></i>
        </div>
        <div class="results"></div>
      </div>
    </div>
    <a href="https://thebest404pageeverredux.com/" class="item">Help</a>
    <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "item" %>
  </div>
</div>
